<!-- NOT DELETED BECAUSE TESTS DON'T WORK YET OTHERWISE -->



<!--<!DOCTYPE hibernate-configuration PUBLIC-->
<!--        "-//Hibernate/Hibernate Configuration DTD 3.0/EN"-->
<!--        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->

<!--<hibernate-configuration>-->
<!--    <session-factory>-->
<!--        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>-->
<!--        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/dashboard</property>-->
<!--        <property name="connection.username">root</property>-->
<!--        <property name="connection.password">Menulis.SQL.1</property>-->
<!--        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>-->
<!--        <property name="show_sql">true</property>-->
<!--        <mapping class="com.preinternship.dashboard.entities.User"/>-->
<!--    </session-factory>-->
<!--</hibernate-configuration>-->